{% extends 'base.html.twig' %}

{% block content %}
    <h1>New Contact</h1>

    <hr />

    {% for label, message in app.flashes('success') %}
        <div class="alert alert-success" role="alert"">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Success</strong>{{ message }}
        </div>
    {% endfor %}

    {{ form_start(contactForm) }}
    {{ form_widget(contactForm) }}
    {{ form_end(contactForm) }}

{% endblock %}